
{% extends 'base.html' %}
{% load static %}
{% block info %}
<article>
{#                                                                                本来是网站首页跳转，不知为何不能跳转，待解决#}
  <h1 class="t_nav"><span>您现在的位置是：首页 > 我的博客</span><a href="{% url 'blog:index' %}" class="n1">我的博客</a><a href="#" class="n2">大千世界</a></h1>
  <div class="infosbox">
    <div class="newsview">
      <h3 class="news_title">个人博客，属于我的小世界！</h3>
        {% for bo in one_info %}
            <div class="bloginfo" >

                <div><h3 style="color: darkorange" title="{{ bo.title }}"><a href="#" style="color: #00A7EB">{{ bo.title }}</a><a href="{% url 'blog:gbook' bo.id %}" style="font-size: 12px">»阅读全文</a></h3></div>
{#                <a href="#" >个人博客</a> 含有属性点击会再另开一个浏览器界面#}
                <div class="tags"><a href="#">个人博客</a> &nbsp; <a href="#">小世界</a></div>
                <div class="news_con" content="{{ bo.content }}">

                    {{ bo.intro | safe }}
                </div>
            </div>
            <div class="bloginfo">
                <ul>
                    <li class="author"><a href="/">张先生</a></li>
                    <li class="timer">{{ bo.show_time }}</li>
                    <li class="view">{{ bo.like_num }}已阅读</li>
{#                    <li class="like">888</li>#}
                </ul>
            </div>
            <HR align=center width=700 color=#F4650E SIZE=2>
        {% endfor %}
    </div>


    <div class="nextinfo">
      <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
      <p>下一篇：<a href="/news/life/">返回列表</a></p>
    </div>
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul>
        <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
        <li><a href="/download/div/2018-04-18/814.html" title="html5个人博客模板主题《清雅》">html5个人博客模板主题《清雅》</a></li>
        <li><a href="/download/div/2018-03-18/807.html" title="html5个人博客模板主题《绅士》">html5个人博客模板主题《绅士》</a></li>
        <li><a href="/download/div/2018-02-22/798.html" title="html5时尚个人博客模板-技术门户型">html5时尚个人博客模板-技术门户型</a></li>
        <li><a href="/download/div/2017-09-08/789.html" title="html5个人博客模板主题《心蓝时间轴》">html5个人博客模板主题《心蓝时间轴》</a></li>
        <li><a href="/download/div/2017-07-16/785.html" title="古典个人博客模板《江南墨卷》">古典个人博客模板《江南墨卷》</a></li>
        <li><a href="/download/div/2017-07-13/783.html" title="古典风格-个人博客模板">古典风格-个人博客模板</a></li>
        <li><a href="/download/div/2015-06-28/748.html" title="个人博客《草根寻梦》—手机版模板">个人博客《草根寻梦》—手机版模板</a></li>
        <li><a href="/download/div/2015-04-10/746.html" title="【活动作品】柠檬绿兔小白个人博客模板">【活动作品】柠檬绿兔小白个人博客模板</a></li>
        <li><a href="/jstt/bj/2015-01-09/740.html" title="【匆匆那些年】总结个人博客经历的这四年…">【匆匆那些年】总结个人博客经历的这四年…</a></li>
      </ul>
    </div>

  </div>

    <div class="sidebar" style="margin-left: auto;width: 300px">
        <div class="tuijian">
            <h2 class="hometitle">文章排行</h2>
            <ul class="tjpic">
                <i><img src="{% static 'images/tooo6.jpg' %}"></i>
                <p>你想看的都在这里！</p>
            </ul>
            <ul class="sidenews">

                {% for m in article_list %}
                    <li>

                        <i class="glyphicon glyphicon-heart-empty"
                           style=" width: 40px;height: 30px; color: red; size: landscape">☆</i>
                        <p><a href="{% url 'blog:gbook' m.id %}">{{ m.title }}</a></p>
                        <span>{{ m.like_num }}已阅读&nbsp&nbsp&nbsp&nbsp&nbsp{{ m.talk_num }}评论</span></li>

                {% endfor %}

                {#        <li> <i><img src="{% static 'images/toppic02.jpg' %}"></i>#}
                {#          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>#}
                {#          <span>2018-05-13</span> </li>#}
            </ul>
        </div>
        <div class="cloud">
            <h2 class="hometitle">文章分类</h2>
            <ul>
                {% for kj in kinds %}
                    <a href="{% url 'blog:fenlei' kj.kind_name %}">{{ kj.kind_name }}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="zhuanti">
            <h2 class="hometitle">特别推荐</h2>
            <ul>
                <li><i><img src="{% static 'images/tooopen0.jpg' %}"></i>
                    <p>人物写真 <span><a href="#">阅读</a></span></p>
                </li>
                {#        <li> <i><img src="{% static 'images/b04.jpg' %}"></i>#}
                {#          <p>5.20 我想对你说 <span><a href="/">阅读</a></span></p>#}
                {#        </li>#}
                <li><i><img src="{% static 'images/b05.jpg' %}"></i>
                    <p>个人博客，属于我的小世界！ <span><a href="#">阅读</a></span></p>
                </li>
            </ul>
        </div>
        <div class="guanzhu" id="follow-us">
            <h2 class="hometitle">关注我们 么么哒！</h2>
            <ul>
                <li class="sina"><a href="#"><span>新浪微博</span>张超博客</a></li>
                <li class="tencent"><a href="#"><span>腾讯微博</span>张超博客</a></li>
                <li class="qq"><a href="#"><span>QQ号</span>476847113</a></li>
                <li class="email"><a href="#"><span>邮箱帐号</span>dancesmiling@qq.com</a></li>
                <li class="wxgzh"><a href="#"><span>微信号</span>yangqq_1987</a></li>
                {#        <li class="wx"><img src="{% static 'images/wx.jpg' %}"></li>#}
            </ul>
        </div>
    </div>
</article>

{#    分页页码显示#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="{% url 'blog:showboke1' page.number|add:'-1' %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                            <span href="{% url 'blog:showboke1' page.number|add:'-1' %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                            </li>

                        {% endif %}
                        {% for num in pagerange %}
                            {% ifequal num page.number %}
                                <li class="active"><a href="{% url 'blog:showboke1' num %}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="{% url 'blog:showboke1' num %}">{{ num }}</a></li>
                            {% endifequal %}

                        {% endfor %}
                        {% if page.has_next %}
                            <li>
                                <a href="{% url 'blog:showboke1' page.number|add:'1' %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <span href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>


            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<footer>
  <p>Design by <a href="#" >张超个人博客</a> <a href="#">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
{% endblock %}

{% block scrapt %}
<scrapt>

</scrapt>
{% endblock %}
