{% extends 'base.html' %}
{% load static %}
{% block life %}
    <div class="pagebg sh"></div>
    <div class="container">
        <h1 class="t_nav"><span>慢生活，不是懒惰，放慢速度不是拖延时间，而是让我们在生活中寻找到平衡。</span><a href="{% url 'blog:index' %}" class="n1">网站首页</a><a
                href="/" class="n2">慢生活</a></h1>
        <!--blogsbox begin-->
        <div class="blogsbox">
            {% ifequal lens 0 %}
                <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                    <h3 class="blogtitle"><a href="#" target="_blank">感谢您的支持！</a></h3>
                    <p class="blogtext">实在抱歉！没有找到您想要的文章......</p>
                    <span class="bigpic"><a href="#" title=""><img style="height: 300px"
                                                                   src="{% static 'images/timg6.jpg' %}"
                                                                   alt=""></a></span>

                    <div class="bloginfo">
                        <ul>
                            日后一定会持续更新！
                        </ul>
                    </div>
                </div>
            {% else %}
                {% for u in one_info %}
                    <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                        <h3 class="blogtitle"><a href="/" target="_blank" style="color: #00A7EB">{{ u.title }}</a><a
                                href="{% url 'blog:gbook' u.id %}" style="font-size: 12px">»阅读全文</a></h3>
                        <span class="blogpic"><a href="/" title=""><img src="{{ u.image }}"
                                                                        alt=""></a></span>
                        <p class="blogtext">{{ u.intro }}</p>
                        <div class="bloginfo">
                            <ul>
                                <li class="author"><a href="/">张超</a></li>
                                <li class="lmname"><a href="/">学无止境</a></li>
                                <li class="timer">{{ u.show_time }}</li>
                                <li class="view"><span>{{ u.like_num }}</span>已阅读</li>
                                {#              <li class="like">9999</li>#}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endifequal %}

        </div>
        <!--blogsbox end-->
        <div class="sidebar">
            <div class="tuijian">
                <h2 class="hometitle">文章排行</h2>
                <ul class="tjpic">
                    <i><img src="{% static 'images/tooo6.jpg' %}"></i>
                    <p>你想看的都在这里！</p>
                </ul>
                <ul class="sidenews">

                    {% for m in article_list %}
                        <li>

                            <i class="glyphicon glyphicon-heart-empty"
                               style=" width: 40px;height: 30px; color: red; size: landscape">☆</i>
                            <p><a href="{% url 'blog:gbook' m.id %}">{{ m.title }}</a></p>
                            <span>{{ m.like_num }}已阅读&nbsp&nbsp&nbsp&nbsp&nbsp{{ m.talk_num }}评论</span></li>

                    {% endfor %}

                    {#        <li> <i><img src="{% static 'images/toppic02.jpg' %}"></i>#}
                    {#          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>#}
                    {#          <span>2018-05-13</span> </li>#}
                </ul>
            </div>
            <div class="cloud">
                <h2 class="hometitle">文章分类</h2>
                <ul>
                    {% for kj in kinds %}
                        <a href="{% url 'blog:fenlei' kj.kind_name %}">{{ kj.kind_name }}</a>
                    {% endfor %}
                </ul>
            </div>
            <div class="zhuanti">
                <h2 class="hometitle">特别推荐</h2>
                <ul>
                    <li><i><img src="{% static 'images/tooopen0.jpg' %}"></i>
                        <p>人物写真 <span><a href="#">阅读</a></span></p>
                    </li>
                    {#        <li> <i><img src="{% static 'images/b04.jpg' %}"></i>#}
                    {#          <p>5.20 我想对你说 <span><a href="/">阅读</a></span></p>#}
                    {#        </li>#}
                    <li><i><img src="{% static 'images/b05.jpg' %}"></i>
                        <p>个人博客，属于我的小世界！ <span><a href="#">阅读</a></span></p>
                    </li>
                </ul>
            </div>
            <div class="guanzhu" id="follow-us">
                <h2 class="hometitle">关注我们 么么哒！</h2>
                <ul>
                    <li class="sina"><a href="#"><span>新浪微博</span>张超博客</a></li>
                    <li class="tencent"><a href="#"><span>腾讯微博</span>张超博客</a></li>
                    <li class="qq"><a href="#"><span>QQ号</span>476847113</a></li>
                    <li class="email"><a href="#"><span>邮箱帐号</span>dancesmiling@qq.com</a></li>
                    <li class="wxgzh"><a href="#"><span>微信号</span>yangqq_1987</a></li>
                    {#        <li class="wx"><img src="{% static 'images/wx.jpg' %}"></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="{% url 'blog:search1' 'keys' page.number|add:'-1' %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                            <span href="{% url 'blog:search1' 'keys' page.number|add:'-1' %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                            </li>

                        {% endif %}
                        {% for num in pagerange %}
                            {% ifequal num page.number %}
                                <li class="active"><a href="{% url 'blog:search1' 'keys' num %}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="{% url 'blog:search1' 'keys' num %}">{{ num }}</a></li>
                            {% endifequal %}

                        {% endfor %}
                        {% if page.has_next %}
                            <li>
                                <a href="{% url 'blog:search1' 'keys' page.number|add:'1' %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <span href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>


            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <a href="#" class="cd-top">Top</a>

{% endblock %}

