{% extends 'base.html' %}
{% load static %}
{% block share %}
    <div class="pagebg sh"></div>
    <div class="container">
        <h1 class="t_nav"><span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。 </span><a href="{% url 'blog:index' %}" class="n1">网站首页</a><a href="/"
                                                                                                          class="n2">{{ kind }}</a>
        </h1>


        <div class="share">
            <ul>
                {% for kn in one_info %}
                    <li>
                        <div class="shareli"><i><img src="{{ kn.image }}"></i>
                            <h2><b>{{ kn.title }}</b></h2>
                            <h2><a href="{% url 'blog:gbook' kn.id %}" style="font-size: 12px">»阅读全文</a></h2>
                            <span>喜欢 | {{ kn.like_num }}</span></div>
                    </li>
                {% endfor %}

            </ul>
        </div>

{#        <div class="pagelist"><a title="Total record">&nbsp;<b>45</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a#}
{#                href="/download/index_2.html">2</a>&nbsp;<a href="/download/index_2.html">下一页</a>&nbsp;<a#}
{#                href="/download/index_2.html">尾页</a></div>#}

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="{% url 'blog:fenlei1' kind page.number|add:'-1' %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                            <span href="{% url 'blog:fenlei1' kind page.number|add:'-1' %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                            </li>

                        {% endif %}
                        {% for num in pagerange %}
                            {% ifequal num page.number %}
                                <li class="active"><a href="{% url 'blog:fenlei1' kind num %}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="{% url 'blog:fenlei1' kind num %}">{{ num }}</a></li>
                            {% endifequal %}

                        {% endfor %}
                        {% if page.has_next %}
                            <li>
                                <a href="{% url 'blog:fenlei1' kind page.number|add:'1' %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <span href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>


            <div class="col-md-3"></div>
        </div>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}


